pipeline/Metadata_pipeline_copy2.json
{
	"name": "Metadata_pipeline_copy2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetmetaData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "datacopy_delete",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_container": {
										"value": "@pipeline().parameters.pp_container",
										"type": "Expression"
									},
									"pp_inputfolder": {
										"value": "@pipeline().parameters.pp_input",
										"type": "Expression"
									},
									"pp_outputfolder": {
										"value": "@pipeline().parameters.pp_output",
										"type": "Expression"
									},
									"pp_filename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"pp_archive": {
										"value": "@pipeline().parameters.pp_archive",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.txt') ",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string",
				"defaultValue": "containerkirithikaa17"
			},
			"pp_input": {
				"type": "string",
				"defaultValue": "KirithiProject/input"
			},
			"pp_output": {
				"type": "string",
				"defaultValue": "KirithiProject/output"
			},
			"pp_archive": {
				"type": "string",
				"defaultValue": "KirithiProject/archive"
			}
		},
		"annotations": []
	}
}